html {
    font-family: 'Overpass Mono', monospace;
    font-size: 2vw;
    width: 100%;
}

body {
    height: 100vh;
}

header {
    align-items: center;
    background-color: rgb(95, 158, 160);
    display: flex;
    justify-content: space-between;
    height: 10vh;
    position: fixed;
    width: 100vw;
    z-index: 1;
}

header h1 {
    color: whitesmoke;
    padding: 1rem;
}

header a {
    border: 1px solid whitesmoke;
    color: whitesmoke;
    font-size: 2rem;
    margin: 2rem 4rem 2rem 2rem;
    padding: 1rem;
    text-decoration: none;
}

main {
    height: 90vh;
    position: relative;
    top: 10vh;
}

h1 {
    color: black;
    font-size: 3.8rem;
}

p {
    font-size: 1.75rem;
    margin-top: 2rem;
}

.project {
    margin: 2rem;
    padding-bottom: 5vh;
}

.project ul {
    font-size: 1.75rem;
    margin: 1rem 2rem;
}

.carousel {
    height: 100%;
}

.glide__arrows {
    display: none;
}

.carousel-bullets {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100vw;
}

.glide__bullet {
    background-color: rgb(194, 194, 194);
    height: 3rem;
    width: 3rem;
}

.glide__bullet--active {
    background-color:rgb(95, 158, 160);
}

@media only screen and (min-width: 992px) {

    html {
        font-size: 1vw;
    }

    header {
        height: 15vh;
    }

    main {
        height: 85vh;
        position: relative;
        top: 15vh;
    }

    p {
        font-size: 1.25rem;
        margin-top: 1rem;
    }

    .project {
        margin: 1rem 2rem;
        padding-bottom: 5vh;
    }

    .project ul {
        font-size: 1.25rem;
        margin: 2rem 2.5rem;
    }

    .glide__bullet {
        background-color: rgb(194, 194, 194);
        height: 9px;
        width: 9px;
    }

    .glide__bullet--active {
        background-color:rgb(95, 158, 160);
    }

    .glide__arrows {
        display: block;
    }

    .glide__arrow {
        background-color: rgba(231, 229, 229, 0.5);
        border-color:rgba(231, 229, 229, 0.5);
        border-radius: 50%;
        fill:rgb(95, 158, 160);
        stroke: rgb(95, 158, 160);
    }
}